<div class="container">
  <h3>Guardian API Demo NG2</h3>

  <div class="input-field">
    <input id="search" type="search" [ngFormControl]="searchBox" placeholder="Search Guardian Article" required>
    <label for="search"><i class="material-icons">search</i></label>
  </div>

  <article-search-panel *ngIf="articles?.length > 0" (searchTermsChanged)="updatePipe($event)"></article-search-panel>

  <div *ngIf="articles?.length > 0" class="collection">
    <div class="collection-item row">
      <h6 class='col s6'> Article Title</h6>
      <h6 class='col s3'> Section Name</h6>
      <h6 class='col s3'> Publication Date</h6>
    </div>
    <a class="collection-item row" target="_blank" href="{{article.webUrl}}"
       *ngFor="#article of articles | search: searchTerms">
      <div class='col s6'> {{ article.webTitle }}</div>
      <div class='col s3'> {{ article.sectionName }}</div>
      <div class='col s3'> {{ stringAsDate(article.webPublicationDate) | date }}</div>
    </a>
  </div>
</div>


